pkgbase = nt
	pkgdesc = An opinionated bash script designed to make it easier (and prettier) to create new tasks for Taskwarrior
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/OctavioSardi/nt/tree/v1.0.0
	arch = any
	license = MIT
	depends = gum
	depends = fzf
	source = https://github.com/OctavioSArdi/nt/archive/refs/tags/v1.0.0.tar.gz
	md5sums = SKIP

pkgname = nt
